body {
  background-color: #1C2130;
}

.container {
  margin: 5% 5%;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 21%;
  margin: 0;
}

.list__link {
  font-family: 'Raleway', sans-serif;
  color: white;
  text-decoration: none;
}