:root {
  --white: white;
  --mirage: #191E29;
}

body {
  background-color: hsl(217, 28%, 15%);
  margin: 0;
}

.container {
  /* margin: 5% 5%; */
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 5% 5% 0%;
  background-color: hsl(217, 28%, 15%);
}

.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 21%;
  margin: 0;
}

.list__link {
  font-family: 'Raleway', sans-serif;
  color: var(--white);
  text-decoration: none;
}

.intro {
  display: flex;
  flex-direction: column;
  padding-top: 77px;
  justify-content: center;
  align-items: center;
  background-color: hsl(217, 28%, 15%);
  background-image: url(./images/bg-curvy-desktop.svg);
  background-repeat: no-repeat;
  background-position: bottom;
}

.intro__header {
  font-size: 2.6rem;
  font-weight: 700;
  color: var(--white);
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.intro__paragraph {
  font-family: 'Raleway', sans-serif;
  color: var(--white);
  font-size: 1.3rem;
  width: 40%;
  text-align: center;
}

.intro__cta {
  color: var(--white);
  text-decoration: none;
  background-color: cyan;
  padding: 20px 100px;
  border-radius: 40px;
  margin-top: 20px;
}

.features {
  background-color: hsl(218, 28%, 13%);
}

.box-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  margin: 0 10%;
}

.box {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box__img {
  height: 83px;
}

.box__header {
  font-family: 'Raleway', sans-serif;
  color: var(--white);
  font-size: 1.5rem;
}

.box__paragraph {
  font-family: 'Raleway', sans-serif;
    text-align: center;
    color: var(--white);
    width: 80%;
    font-size: 0.95rem;
}